<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách người dùng </title>
    <link rel="stylesheet" type="text/css" href="CSS/styles.css">


</head>
<body>
<header  th:replace="~{layout/header::header}"></header>
<div  th:replace="~{layout/menu::menu}"></div>

<div class="page-title"><h3>Danh sách người dùng</h3></div>

<form th:action="@{/list-account}" method="get">
    <input type="text" name="key_search">
    <input type="submit" value="Search">
</form>

<table border="1" style="width:100%">
    <tr>
        <th>STT</th>
        <th>Tên tài khoảng</th>
        <th>Họ và tên</th>
        <th>Email</th>
        <th>Số điện thoại</th>
        <th>Địa chỉ</th>
        <th>Xóa</th>
    </tr>
    <tr th:each="a,aStar : ${account}">
        <td th:utext="${aStar.count}"></td>
        <td th:utext="${a.username}"></td>
        <td th:utext="${a.fullname}"></td>
        <td th:utext="${a.email}"></td>
        <td th:utext="${a.phone}"></td>
        <td th:utext="${a.address}"></td>
        </td>
        <td>    <a style="color:red;"  th:href="@{/delete-account/__${a.id}__}">Xóa </a></td>
    </tr>
</table>

<footer  th:replace="~{layout/fooder::fooder}"></footer>

</body>
</html>