<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/CSS/styles.css">

</head>
<body>
<header th:replace="~{layout/header::header}"></header>
<div th:replace="~{layout/menu::menu}"></div>

<div class="page-title">Danh sách sản phẩm</div>

<form th:action="@{/list-product}" method="get">
    <input type="text" name="key_search">
    <input type="submit" value="Search">
</form>

<div class="product-preview-container" th:each="p,pStar : ${products}">
    <ul>
        <li><img class="product-image" th:src="@{'/CSS/image/' + ${p.imageUrl}}" /></li>
        <li>Mã sản phẩm: <span th:text="${p.id}"></span></li>
        <li>Tên sản phẩm: <span th:text="${p.name}"></span></li>
        <li>Loại sản phẩm : <span th:text="${p.categoryProduct.categoryProduct}"></span></li>
        <li>Giá sản phẩm: <span th:text="${p.price}"></span></li>
        <li>
            <a style="color:darkslategray;" th:href="@{/add-product/__${p.id}__}">Thêm vào giỏ hàng</a>

        </li>
        <th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
            <li>
                <a style="color:green;" th:href="@{/edit-product/__${p.id}__}">Sửa sản phẩm</a> |
                <a style="color:red;" th:href="@{/delete-product/__${p.id}__}">Xóa sản phẩm</a>
            </li>
        </th:block>
    </ul>
</div>

<div>
    <a th:href="@{'/list-product'(page=${products.number - 1}, key_search=${key_search})}"
       th:if="${products.hasPrevious()}">Previous</a>
    <span th:text="${products.number + 1}"></span>/<span th:text="${products.totalPages}"></span>
    <a th:href="@{'/list-product'(page=${products.number + 1}, key_search=${key_search})}"
       th:if="${products.hasNext()}">Next</a>
</div>

<footer th:replace="~{layout/fooder::fooder}"></footer>
</body>
</html>