<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <meta charset="UTF-8">
        <title>Test</title>
        <link rel="stylesheet" type="text/css" href="CSS/styles.css">
    </head>
    <body>

        <header th:fragment="header">
            <div class="header-container">

                <div class="site-name">Shop LVH</div>

                <div class="header-bar">
                    <th:block sec:authorize="isAuthenticated()">
                        Xin chào
                        <a th:href="@{/accountInfo}" th:utext="${#request.userPrincipal.name}">..</a>
                        &nbsp;|&nbsp;
                        <a th:href="@{/logout}">Đăng xuất</a>
                    </th:block>

                    <th:block sec:authorize="!isAuthenticated()">
                        <a th:href="@{/login}">Đăng nhập</a> | <a th:href="@{/create-account}">Đăng ký</a>
                    </th:block>

                </div>

            </div>
        </header>
    </body>

</html>